#body-content {
	margin-left: 20px;
	margin-top: 20px;
	padding-bottom:20px;
}

#divMenuBtn
{
	display:none;
}

.mode-livraison
{
   background-color:#f1f1f1;
   border:1px solid #e5e5e5;
   border-radius:5px;
   margin-right:20px;
   display:inline-block;
   width:99%;
}

.mode-livraison h2
{
    font-family:Arial;
    margin:10px;
    margin-bottom:20px;
    border-bottom:1px solid lightgrey;
    padding-bottom:10px;
}
.product-description label.titreArticle
{
	font-weight:bold;
	color:#10507B;
	display: inline-block;
	width:50%;
	margin-top:25px;
	margin-bottom:10px;
}

.product-description label.prixArticle
{
	display: inline-block;
	width:50%;
	font-size: small;
	text-align: center;
}

.product-description label.valeur
{
	display:inline-block;
	width:70%;
	margin-bottom:10px;
}

.product-description label.titre
{
	font-weight:bold;
	display:inline-block;
	width:20%;
}

.product-description label.prix
{
	margin-left:20px;
	margin-right:20px;
	font-size:large;
}

table td:nth-of-type(3) input
{
	width:20px;
	font-size:20px;
}
table input
{
	width:30px;
}

/* BOUTONS DU BAS */

.recapCommande
{
	float:right;
	padding:10px;
	min-width:430px;
}

.recapCommande-titre
{
	font-weight:bold;
	float:right;
	font-size:larger;
	background-color:silver;
	height:40px;
	width:49%;
	border:1px solid grey;
	border-radius:2px;
	margin-bottom:30px;
	margin-left:0px;
	text-align:center;
	padding-top:15px;
}

.recapCommande-prix
{
	float:right;
	font-size:larger;
	background-color:white;
	height:40px;
	width:50%;
	border:1px solid grey;
	border-radius:2px;
	margin-bottom:30px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	padding-top:15px;
}

.recapCommande button
{
	width:100%;
}

/*ui.steps*/
.ui-steps-item
{
	width:24.87%;
	margin-bottom:15px;
}
 
.ui-state-highlight {
    text-shadow: none !important;
}
 
.ui-steps.custom {
    margin-bottom: 60px;
}
 
.ui-steps.custom .ui-steps-item .ui-menuitem-link {
    height: 10px;
    padding: 0 1em;
}
 
.ui-steps.custom .ui-steps-item .ui-steps-number {
    background-color: #0081c2;
    color: #FFFFFF;
    display: inline-block;
    width: 30px;
    border-radius: 10px;
    margin-top: -10px;
    margin-bottom: 10px;
}

/*Mode de livraison*/
.mode-livraison label.titre
{
	padding-top:50px;
	margin-left:20px;
	font-size:large;
	display:inline-block;
	width:20%;
}

.mode-livraison .ui-selectonemenu
{
		margin-right:50%;
	margin-left:10px;
}

.mode-livraison .ui-selectonemenu-label
{
	color:#10507B;
	padding-left:3px;
	width:49.5%;
	font-size: smaller;
}

.mode-livraison .ui-selectoneradio
{
	margin-left:20px;
	border-collapse: collapse;
	margin-top:20px;
	margin-bottom:20px;
}

.mode-livraison .ui-selectoneradio label
{
	margin-right:30px;
	margin-left:30px;
	color:#10507B;
	font-size:small;
}

.mode-livraison .ui-selectoneradio td:first-of-type
{
	text-align: center;
	width:40px !important;
	height:100px !important;
}

.mode-livraison .ui-selectoneradio td:nth-of-type(2)
{
	min-width: 97.35% !important;
}

.mode-livraison .ui-selectoneradio tr:hover
{
	background-color:white;
}

.mode-livraison > .ui-button
{
	font-size:small;
	margin-left:10px;
}

